# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.iml
.settings/
.classpath
.project

# Environment
.env
.env.local

# Node / Angular (Frontend)
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
/e2e/test-output/
/package-lock.json
/yarn.lock
/.angular-cli.json
/.ng/
*.tsbuildinfo

# Java / Spring Boot (Backend)
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/

# Terraform / DevOps
.terraform/
*.tfstate
*.tfstate.backup

# Testing / Logs
coverage/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
