
:host {
  display: block;
  height: calc(100vh - 64px); /* assuming a header of 64px */
}

#search-map {
  width: 100%;
  height: 100%;
}

/* Add custom scrollbar for property list */
.properties-scroll-container::-webkit-scrollbar {
  width: 6px;
}
.properties-scroll-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}
